<div class="card mb-3">
    <div class="card-header">
        <div class="card-title">
            {{ 'monsieurbiz_cms_block.ui.form.block_info'|trans }}
        </div>
    </div>
    <div class="card-body">
        <div class="row align-items-center">
            {% hook 'general' %}
        </div>
    </div>
</div>
