{#
UI Element template
type: block
element fields:
    block: text (Code of the block)
element methods:
    getBlock(block)
#}

{% set blockEntity = ui_element.getBlock(element.block) %}
{% if blockEntity and blockEntity.enabled %}
    <a href="{{ path('monsieurbiz_cms_block_admin_block_update', {id: blockEntity.id}) }}" class="btn btn-primary mb-3">
        <i class="bi bi-pencil"></i>
        {{ 'monsieurbiz_cms_block.ui.edit_block_link'|trans({'%blockName%': blockEntity.name}) }}
    </a>
    <div class="border border-2 border-dashed p-3" style="border-style: dashed !important;">
        {{ blockEntity.content|monsieurbiz_richeditor_render_field }}
    </div>
{% else %}
    <div class="alert alert-warning">
        {{ 'monsieurbiz_cms_block.ui.block_not_found'|trans({'%name%': element.block}) }}
    </div>
{% endif %}
